<!--
  about.html
  WelomeSanDiego

  Created by Sergio Acosta on 8/13/18.
  Copyright 2018 BreakingCode. All rights reserved.
-->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>About Us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="styles/about.css" />
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet">
</head>

<body>

  <!-- Weather Display -->
  <div class="weather">
    <p>{{temperature}}° F</p>
  </div>

  <!-- Logo Display -->
  <div class="logo">
    <img src="https://tinyurl.com/y9zorgwd" alt="San Diego Logo" height="45px" width="80px">
  </div>

  <!-- Navigation bar -->
  <div class="navbar">
    <div class="ends"></div>
    <div class="box">
      <a href="/">Home</a>
    </div>
    <div id="exploration" class="box">
      <a href="/exploration">Exploration</a>
      <div class="content">
        <a class="drop" href="/exploration/hiking">Hiking</a>
        <a class="drop" href="/exploration/wineries">Wineries</a>
        <a class="drop" href="/exploration/parks">Parks</a>
        <a class="drop" href="/exploration/nightlife">Nightlife</a>
      </div>
    </div>
    <div id="dining" class="box">
      <a href="/dining">Dining</a>
      <div class="content">
        <a class="drop" href="/dining/mexican">Mexican</a>
        <a class="drop" href="/dining/asian">Asian</a>
        <a class="drop" href="/dining/italian">Italian</a>
        <a class="drop" href="/dining/fastfood">Fast Food</a>
      </div>
    </div>

    <div class="box">
      <a href="/about">About</a>
    </div>
    <div class="ends"></div>
  </div>
  <div id="Row_2">

  </div>

  <!-- Page Content Below This -->

  <h1 class="header animated fadeIn">About Us</h1>

  <div id="about-us">
    <div id="bio">
      <h3>Alexander Garcia</h3>
      <h4>Project Lead & Back-End Developer</h4>
      <img src="/images/DSC_7324.JPG" alt="alex" width="200px" height="200px">
    </div>
    <div id="bio">
      <h3>Tyler Pritchett</h3>
      <h4>Front-End Developer</h4>
      <img src="/images/DSC_7314.JPG" alt="tyler" width="200px" height="200px">
    </div>
    <div id="bio">
      <h3>Sergio Acosta</h3>
      <h4>Front-End Developer</h4>
      <img src="/images/DSC_7322.JPG" alt="sergio" width="200px" height="200px">
    </div>
    <div id="bio">
      <h3>Jose Gonzalez</h3>
      <h4>Front-End Developer</h4>
      <img src="/images/DSC_7316.JPG" alt="jose" width="200px" height="200px">
    </div>
    <div id="bio">
      <h3>Oscar Villa</h3>
      <h4>Front-End Developer</h4>
      <img src="/images/DSC_7320.JPG" alt="oscar" width="200px" height="200px">
    </div>
  </div>

  <div id="mission">
    <h1>Our Mission</h1>
    <p>
      This service was created for the purpose of helping fellow San Diego residents and visitors to the area to be able to explore a wide variety of events going on in the area as well as the array of dining options availabe. Wether you are looking to take a hike on some of San Diego's most popular trails or trying to find that perfect dining spot, we've got you covered. With a true accuweather forecast, you will be informed in real time about the time and temperature of San Diego so that you will always be prepared before you take that trip to visit different spots in the area. Our mission is to provide our customers with the best experience possible which is why we are frequently working to improve and make updates to this website. We hope that you enjoy using our website and all the services it has to offer.
    </p>
  </div>

  <div id="mission">
    <h1>How it Works</h1>
    <p>
      By clicking on the exploration tab, you get access to recommendations of the popular locations and events within the San Diego area including: popular wineries, hiking trails, parks, and nightlife locations. When you click on our Dining tab you well see that you have the option to choose from popular Mexican, Asian, Italian, and Fast-Food restaurants in the San Diego area to suit your hunger needs.
    </p>
  </div>

  <script src="dining.js"></script>
</body>

</html>
