<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Asian Cuisine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../styles/asian.css" />
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet">
</head>

<body>

  <!-- Weather Display -->
  <div class="weather">
    <p>{{temperature}}° F</p>
  </div>

  <!-- Logo Display -->
  <div class="logo">
    <img src="https://tinyurl.com/y9zorgwd" alt="San Diego Logo" height="45px" width="80px">
  </div>

  <!-- Navigation bar -->
  <div class="navbar">
    <div class="ends"></div>
    <div class="box">
      <a href="/">Home</a>
    </div>
    <div id="exploration" class="box">
      <a href="/exploration">Exploration</a>
      <div class="content">
        <a class="drop" href="/exploration/hiking">Hiking</a>
        <a class="drop" href="/exploration/wineries">Wineries</a>
        <a class="drop" href="/exploration/parks">Parks</a>
        <a class="drop" href="/exploration/nightlife">Nightlife</a>
      </div>
    </div>
    <div id="dining" class="box">
      <a href="/dining">Dining</a>
      <div class="content">
        <a class="drop" href="/dining/mexican">Mexican</a>
        <a class="drop" href="/dining/asian">Asian</a>
        <a class="drop" href="/dining/italian">Italian</a>
        <a class="drop" href="/dining/fastfood">Fast Food</a>
      </div>
    </div>

    <div class="box">
      <a href="/about">About</a>
    </div>
    <div class="ends"></div>
  </div>
  <div id="Row_2">

  </div>

  <!-- Page Content Below This -->

  <h1 class="header animated fadeIn">Asian Food</h1>

  <div class="container">
    <div id="p1">
      Address: 6765 La Jolla Blvd, La Jolla, CA 92037
      <a href="https://mandarinhouselj.com/">Mandarin House</a>

    </div>
    <div id="p2">
      Address: 3709 Convoy St #101, San Diego, CA 92111
      <br>
      <a href="http://www.sdchinesecuisine.com/">Emerald Chinese Cuisine</a>
    </div>
    <div id="p3">
      Address: 9995 Carmel Mountain Rd #6, San Diego, CA 92129
      <a href="http://sdchefwong.com/">Chef Wong Chinese Cuisine</a>
    </div>
    <div id="p4">
      Address: 11666 Avena Pl, San Diego, CA 92128
      <br>
      <a href="http://pearlchinesesd.com/dimsum/">Pearl Chinese Cuisine</a>

    </div>
    <div id="p5">
      Address: 2877 University Ave, San Diego, CA 92104
      <a href="http://chopsueysd.blogspot.com/">Peking Restaurant Chop Suey</a>
    </div>
    <div id="p6">
      Address: 4426, 4616 El Cajon Blvd, San Diego, CA 92115
      <a href="http://www.maximsseafoodsandiego.com/">Maxim's Seafood Restaurant</a>
    </div>

    <script src="dining.js"></script>
</body>

</html>
