<!--
  dining.html
  WelomeSanDiego

  Created by Jose Gonzalez on 8/13/18.
  Copyright © 2018 BreakingCode. All rights reserved.
-->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dining in San Diego</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="styles/dining.css" />
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet">
</head>

<body>

  <!-- Weather Display -->
  <div class="weather">
    <p>{{temperature}}° F</p>
  </div>

  <!-- Logo Display -->
  <div class="logo">
    <img src="https://tinyurl.com/y9zorgwd" alt="San Diego Logo" height="45px" width="80px">
  </div>

  <!-- Navigation bar -->
  <div class="navbar">
    <div class="ends"></div>
    <div class="box">
      <a href="/">Home</a>
    </div>
    <div id="exploration" class="box">
      <a href="/exploration">Exploration</a>
      <div class="content">
        <a class="drop" href="/exploration/hiking">Hiking</a>
        <a class="drop" href="/exploration/wineries">Wineries</a>
        <a class="drop" href="/exploration/parks">Parks</a>
        <a class="drop" href="/exploration/nightlife">Nightlife</a>
      </div>
    </div>
    <div id="dining" class="box">
      <a href="/dining">Dining</a>
      <div class="content">
        <a class="drop" href="/dining/mexican">Mexican</a>
        <a class="drop" href="/dining/asian">Asian</a>
        <a class="drop" href="/dining/italian">Italian</a>
        <a class="drop" href="/dining/fastfood">Fast Food</a>
      </div>
    </div>

    <div class="box">
      <a href="/about">About</a>
    </div>
    <div class="ends"></div>
  </div>
  <div id="Row_2">

  </div>

  <!-- Page Content Below This -->
  <h1 class="header animated fadeIn">Home to a wide</h1>
  <h1 class="header-variety animated fadeIn">variety of different restaurants</h1>

  <div class="searchbar">
    <form method="post" action="/dining">
      <!-- <input type="text" name="search" placeholder="Search.."> -->
      <input name="searchEntry" type="text" onkeypress="handle(event)" placeholder="Search" value={{searchEntry}}>
      <!-- <input id="search" type="button" value="search" onClick="search_func()"> -->
    </form>
  </div>

  <div>
    {% for item in content %}
    <p>Business: {{item['name']}} Location: {{item['location']['display_address'][0]}}, {{item['location']['display_address'][1]}}</p>
    {% endfor %}
  </div>

  <script src="scripts/dining.js"></script>
</body>

</html>
