<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hiking in San Diego</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../styles/hiking.css" />
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet">
</head>

<body>

  <!-- Weather Display -->
  <div class="weather">
    <p>{{temperature}}° F</p>
  </div>

  <!-- Logo Display -->
  <div class="logo">
    <img src="https://tinyurl.com/y9zorgwd" alt="San Diego Logo" height="45px" width="80px">
  </div>

  <!-- Navigation bar -->
  <div class="navbar">
    <div class="ends"></div>
    <div class="box">
      <a href="/">Home</a>
    </div>
    <div id="exploration" class="box">
      <a href="/exploration">Exploration</a>
      <div class="content">
        <a class="drop" href="/exploration/hiking">Hiking</a>
        <a class="drop" href="/exploration/wineries">Wineries</a>
        <a class="drop" href="/exploration/parks">Parks</a>
        <a class="drop" href="/exploration/nightlife">Nightlife</a>
      </div>
    </div>
    <div id="dining" class="box">
      <a href="/dining">Dining</a>
      <div class="content">
        <a class="drop" href="/dining/mexican">Mexican</a>
        <a class="drop" href="/dining/asian">Asian</a>
        <a class="drop" href="/dining/italian">Italian</a>
        <a class="drop" href="/dining/fastfood">Fast Food</a>
      </div>
    </div>

    <div class="box">
      <a href="/about">About</a>
    </div>
    <div class="ends"></div>
  </div>
  <div id="Row_2">

  </div>

  <!-- Page Content Below This -->

  <h1 class="header animated fadeIn">Take on an</h1>
  <h1 class="header-hike animated fadeIn">Adventure</h1>

  <div class="container">
    <div id="p1">
      Address: Black Mountain Hike, San Diego, CA 92129
      <a href="https://www.sandiego.gov/park-and-recreation/parks/osp/blackmtn/">Miner's Ridge Loop Trail</a>

    </div>
    <div id="p2">
      Address: Father Junipero Serra Trail, San Diego, CA 92119
      <a href="https://mtrp.org/trail_map">Mission Trails-Kwaay Paay Peak Hike</a>
    </div>
     <div id="p3">
      Address: 8173 Del Dios Rd, San Diego, CA 92127
      <a href="http://www.sdrp.org/wordpress/">San Dieguito River Park - Santa Fe Valley Trail</a>
     </div>
      <div id="p4">
        Address: 4300 Sorrento Valley Blvd, San Diego, CA 92121
        <a href="https://www.sandiego.gov/park-and-recreation/parks/osp/lospenasquitos">Los Penasquitos Trail Head (west)</a>

      </div>
      <div id="p5">
        Address: 4198 Colina Dorada Dr, San Diego, CA 92124
        <a href="https://mtrp.org/">Mission Trails Rim Trailhead</a>
      </div>
      <div id="p6">
        Address: San Diego, CA 92129
        <a href="https://www.sandiego.gov/park-and-recreation/parks/osp/blackmtn">Black Mountain Open Space Park</a>
      </div>

  <script src="exploration.js"></script>
</body>

</html>
