<!--
  index.html
  WelomeSanDiego

  Created by Tyler Pritchett on 8/13/18.
  Copyright 2018 BreakingCode. All rights reserved.
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sample</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet">
    <script src="index.js"></script>
</head>

<body>
<div id="Row_1">
  <img src="" alt="">
  <a id="one" href="#">HOME PAGE</a>
  <a id="one" href="#">EXPLORE</a>
  <a id="one" href="#">DINING</a>
  <a id="one" href="#">ABOUT</a>
</div>
<div id="Row_2">
  <p>a</p>
</div>

</body>

</html>
