<!--
  index.html
  WelomeSanDiego

  Created by Tyler Pritchett on 8/13/18.
  Copyright 2018 BreakingCode. All rights reserved.
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="index.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet">
</head>

<body>
  <div class="navbar">
        <div class="ends"></div>
        <div class="box">Home</div>
        <div id = "exploration" class="box">Exploration
          <div class ="content">
            <a class="drop" href="">Hiking</a>
            <a class="drop" href="">Wineries</a>
            <a class="drop" href="">Parks</a>
            <a class="drop" href="">Nightlife</a>
          </div>
        </div>
        <div id = "dining" class="box">Dining
          <div class = "content">
            <a  class="drop" href="">Mexican</a>
            <a  class="drop" href="">Asian</a>
            <a  class="drop" href="">Italian</a>
            <a  class="drop"href="">Fast Food</a>
          </div>
        </div>

        <div class="box">About</div>
        <div class="ends"></div>
  </div>
<div id="Row_2">

</div>
  <script src="index.js"></script>
</body>

</html>
