<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mexican Cuisine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../styles/mexican.css" />
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet">
</head>

<body>

  <!-- Weather Display -->
  <div class="weather">
    <p>{{temperature}}° F</p>
  </div>

  <!-- Logo Display -->
  <div class="logo">
    <img src="https://tinyurl.com/y9zorgwd" alt="San Diego Logo" height="45px" width="80px">
  </div>

  <!-- Navigation bar -->
  <div class="navbar">
    <div class="ends"></div>
    <div class="box">
      <a href="/">Home</a>
    </div>
    <div id="exploration" class="box">
      <a href="/exploration">Exploration</a>
      <div class="content">
        <a class="drop" href="/exploration/hiking">Hiking</a>
        <a class="drop" href="/exploration/wineries">Wineries</a>
        <a class="drop" href="/exploration/parks">Parks</a>
        <a class="drop" href="/exploration/nightlife">Nightlife</a>
      </div>
    </div>
    <div id="dining" class="box">
      <a href="/dining">Dining</a>
      <div class="content">
        <a class="drop" href="/dining/mexican">Mexican</a>
        <a class="drop" href="/dining/asian">Asian</a>
        <a class="drop" href="/dining/italian">Italian</a>
        <a class="drop" href="/dining/fastfood">Fast Food</a>
      </div>
    </div>

    <div class="box">
      <a href="/about">About</a>
    </div>
    <div class="ends"></div>
  </div>
  <div id="Row_2">

  </div>

  <!-- Page Content Below This -->

  <h1 class="header animated fadeIn">Mexican Food</h1>

  <div class="spots">
    <h1 id="spots-heading">4 Must-Visit Mexican Restaurants in San Diego</h1>
  </div>
  <div class="hotspots">
    <div>
      <h2 class="spotheads"><a href="http://www.letstaco.com/">The Taco Stand</a></h2>
      <p> 621 Pearl St, La Jolla, CA 92037</p>
    </div>
    <div>
      <h2 class="spotheads"> <a href="http://www.oscarsmexicanseafood.com/">Oscar's Mexican Seafood</a></h2>
      <p>115 N El Camino Real, Encinitas, CA 92024</p>
    </div>
    <div>
      <h2 class="spotheads"><a href="https://www.tripadvisor.com/Restaurant_Review-g60750-d7908507-Reviews-Bracero_Cocina_de_Raiz-San_Diego_California.html">Bracero Cocina de Raiz</a></h2>
      <p> 1490 Kettner Blvd, San Diego, CA 92101</p>
    </div>
    <div>
      <h2 class="spotheads"><a href="http://tacoselgordobc.com/">Tacos El Gordo</a></h2>
      <p>3265 Palm Ave, San Diego, CA 92154</p>
    </div>
  </div>

  <script src="dining.js"></script>
</body>

</html>
