<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Parks in San Diego</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../styles/park.css" />
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet">
</head>

<body>

  <!-- Weather Display -->
  <div class="weather">
    <p>{{temperature}}° F</p>
  </div>

  <!-- Logo Display -->
  <div class="logo">
    <img src="https://tinyurl.com/y9zorgwd" alt="San Diego Logo" height="45px" width="80px">
  </div>

  <!-- Navigation bar -->
  <div class="navbar">
    <div class="ends"></div>
    <div class="box">
      <a href="/">Home</a>
    </div>
    <div id="exploration" class="box">
      <a href="/exploration">Exploration</a>
      <div class="content">
        <a class="drop" href="/exploration/hiking">Hiking</a>
        <a class="drop" href="/exploration/wineries">Wineries</a>
        <a class="drop" href="/exploration/parks">Parks</a>
        <a class="drop" href="/exploration/nightlife">Nightlife</a>
      </div>
    </div>
    <div id="dining" class="box">
      <a href="/dining">Dining</a>
      <div class="content">
        <a class="drop" href="/dining/mexican">Mexican</a>
        <a class="drop" href="/dining/asian">Asian</a>
        <a class="drop" href="/dining/italian">Italian</a>
        <a class="drop" href="/dining/fastfood">Fast Food</a>
      </div>
    </div>

    <div class="box">
      <a href="/about">About</a>
    </div>
    <div class="ends"></div>
  </div>
  <div id="Row_2">

  </div>

  <!-- Page Content Below This -->
    <h1 class="header animated fadeIn">Explore beautiful parks in the</h1>
    <h1 class="header-sd animated fadeIn">city of San Diego</h1>

  <div class="container">
    <div id="p1">
      Address: 1549 El Prado, San Diego, CA 92101
      <a  href="https://www.balboapark.org">Balboa Park</a>

    </div>
    <div id="p2">
      Address: 1600 Pacific Hwy, San Diego, CA 92101
      <br>
      <a href="http://www.sdparks.org/content/sdparks/en/park-pages/Waterfront.html"> Waterfront Park</a>
    </div>
    <div id="p3">
      Address: 1600 Pacific Hwy, San Diego, CA 92101
      <br>
      <a href="Address: 2688 East Mission Bay Drive, San Diego, CA 92109">Mission Bay Park</a>
    </div>
    <div id="p4">
      Address: 2811 Jackson St, San Diego, CA 92110
      <br>
      <a href="https://www.sandiego.gov/">Presidio Park</a>

    </div>
    <div id="p5">
      Address: 11278 Westview Pkwy, San Diego, CA 92126
      <a href="https://www.sandiego.gov/park-and-recreation">Westview Park</a>
    </div>
    <div id="p6">
    Address: 16118 4S Ranch Pkwy, San Diego, CA 92127
      <a href="http://www.sdparks.org/content/sdparks/en/park-pages/4SRanchParks/4SRanchSports.html">4S Ranch Sports Park</a>
    </div>

  </div>
  <script src="exploration.js"></script>
</body>

</html>
