.content{
  display: none;
}

.box {
  display: block;
  flex: 0 1 190px;
  text-align: center;
}

.ends {
  display: block;
  flex: 1;
}
.navbar {
  color: #1e88e5;
  display: flex;
  background-color: white;
  padding: 20px;
  opacity: 1;
}

.box:hover
.content {
  color: purple;
  margin-left: 10px;

  text-decoration: none;
  display: block;
  position: absolute;

  z-index: 1000;

}

.drop {
  background-color: white;
  color: #ffa726;
  padding: 10px 50px;
  text-decoration: none;
  display: block;
}

.weather {
  position: absolute;
  top: 0;
  right: 0;
  height: 58px;
  width: 200px;
  background-color: white;
  font-size: 1.15em;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 58px;
  width: 200px;
  background-color: white;
}

.logo > img {
  margin-top: 5px;
  margin-left: 140px;
}

#Row_2 {
  position: absolute;
  height:100%;
  width: 80%;
  background-color: #edf0f3;
  opacity: 0;
}

a {
  text-align: center;
  flex: 1 1 0;
  margin: 0;
  padding: 10px 20px;
  color: #1e88e5;
  text-decoration: none;
}

.welcome {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 60px;
  color: white;

}

body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url("https://media1.s-nbcnews.com/i/newscms/2017_44/1292809/bibimbap-today-110117-tease_d2d79d2744f9f98184a589f0bc920058.jpg");
  background-repeat: no-repeat;
  margin: 0px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 0;
}

.header {
  margin-top: 250px;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 6em;
  color: white;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.container{
  display:grid;
  grid-template-columns: 2fr 2fr;
  text-align: center;
  margin-top: 700px;
  padding-left: 150px;
}

.container > div{
  height: 300px;
  width: 300px;
  color: black;
  margin: 5px;
}

#p1 > a{
  color: black;
}
#p2 > a{
  color: black;
}
#p3 > a{
  color: black;
}
#p4 > a{
  color: black;
}
#p5 > a{
  color: black;
}
#p6 > a{
  color: black;
}
