.content{
  display: none;
}

.box {
  display: block;
  flex: 0 1 190px;
  text-align: center;
}

.ends {
  display: block;
  flex: 1;
}
.navbar {
  color: #1e88e5;
  display: flex;
  background-color: white;
  padding: 20px;
  opacity: 1;
}

.box:hover
.content {
  color: purple;
  margin-left: 10px;

  text-decoration: none;
  display: block;
  position: absolute;

  z-index: 1000;

}

.drop {
  background-color: white;
  color: #ffa726;
  padding: 10px 50px;
  text-decoration: none;
  display: block;
}

.weather {
  position: absolute;
  top: 0;
  right: 0;
  height: 58px;
  width: 200px;
  background-color: white;
  font-size: 1.15em;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 58px;
  width: 200px;
  background-color: white;
}

.logo > img {
  margin-top: 5px;
  margin-left: 140px;
}

 #Row_2 {
  /*position: absolute;*/
  height:100%;
  width: 80%;
  background-color: #edf0f3;
  opacity: 0;
}

a {
  text-align: center;
  flex: 1 1 0;
  margin: 0;
  padding: 10px 20px;
  color: #1e88e5;
  text-decoration: none;
}

.header {
  margin-top: 250px;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5em;
  color: white;
}

.header-variety {
  margin-top: 0;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 4em;
  color: white;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url("https://i.pinimg.com/originals/35/4e/3d/354e3d90db0d1e49d441dc3a878c84b9.jpg");
  background-repeat: no-repeat;
  margin: 0px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 0;
}

/* Search bar */
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /* background-image: url('searchicon.png'); */
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.searchbar{
  display: flex;
  justify-content: center;
}


input[type=text]:focus {
    width: 500px;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
