.content{
  display: none;

}

.box {
  display: block;
  flex: 0 1 190px;
  text-align: center;
}

.ends {
  display: block;
  flex: 1;
}
.navbar {
  color: #FFC61D;
  display: flex;
  background-color: black;
  padding: 20px;
}

.box:hover
.content {
  color: purple;
  margin-left: 10px;

  text-decoration: none;
  display: block;
  position: absolute;

  z-index: 1000;


}

.drop {
  background-color: black;
  color: white;
  padding: 10px 50px;
  text-decoration: none;
  display: block;
}


#Row_2 {
  position: absolute;
  height:100%;
  width: 80%;
  background-color: #edf0f3;
}

a {
  text-align: center;
  flex: 1 1 0;
  margin: 0;
  padding: 10px 20px;
  color: white;
}


body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url("https://www.choicehotels.com/cms/images/choice-hotels/demand-articles/image_best-beaches-in-san-diego_img1/image_best-beaches-in-san-diego_img1.jpg");
  background-repeat: no-repeat;
  margin: 0px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 0;
}
