.content{
  display: none;
}

.box {
  display: block;
  flex: 0 1 190px;
  text-align: center;
}

.ends {
  display: block;
  flex: 1;
}
.navbar {
  color: #1e88e5;
  display: flex;
  background-color: white;
  padding: 20px;
  opacity: 1;
}

.box:hover
.content {
  color: purple;
  margin-left: 10px;

  text-decoration: none;
  display: block;
  position: absolute;

  z-index: 1000;

}

.drop {
  background-color: white;
  color: #ffa726;
  padding: 10px 50px;
  text-decoration: none;
  display: block;
}

.weather {
  position: absolute;
  top: 0;
  right: 0;
  height: 58px;
  width: 200px;
  background-color: white;
  font-size: 1.15em;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 58px;
  width: 200px;
  background-color: white;
}

.logo > img {
  margin-top: 5px;
  margin-left: 140px;
}

#Row_2 {
  position: absolute;
  height:100%;
  width: 80%;
  background-color: #edf0f3;
  opacity: 0;
}

a {
  text-align: center;
  flex: 1 1 0;
  margin: 0;
  padding: 10px 20px;
  color: #1e88e5;
  text-decoration: none;
}

.welcome {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  color: white;
  margin-top: 25%;
  height: 200px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

.header {
  margin-top: 250px;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5em;
  color: white;
}

.header-hiking {
  margin-top: 0;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 6em;
  color: white;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url("https://hiddensandiego.net/wp-content/uploads/2017/12/header-9-e1520235917304.jpg");
  background-repeat: no-repeat;
  margin: 0px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 0;
}

.header {
  margin-top: 250px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 6em;
  color: white;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
